<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:\Users\abahnean\IdeaProjects\Final_Homework_FreshGrads_2019_Bahni</Property>
    </Properties>

    <Appenders>
        <RollingFile name="UsersRolesTests" fileName="${basePath}/logs/Users_Roles_Tests.log" filePattern="${basePath}/Users_Roles_Tests-%d{yyyy-MM-dd}.log" append = "false">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="DBInteractionsTests" fileName="${basePath}/logs/DB_Interactions_Tests.log" filePattern="${basePath}/DB_Interactions_Tests-%d{yyyy-MM-dd}.log" append = "false">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.endava.UsersRolesTests" additivity="true">
            <appender-ref ref="UsersRolesTests" level="info" />
            <appender-ref ref="console" />
        </Logger>
        <Logger name="com.endava.DBInteractionsTests" additivity="true">
            <appender-ref ref="DBInteractionsTests" level="info" />
            <appender-ref ref="console" />
        </Logger>

        <Root level="all" additivity="false">
            <appender-ref ref="UsersRolesTests" level="info" />
            <appender-ref ref="DBInteractionsTests" level="info" />
            <appender-ref ref="console" />
        </Root>
    </Loggers>

</Configuration>